DEFAULT default
label default
  KERNEL {{ kernel_path }}
  {% if initrd_path is not none %}
  INITRD {{ initrd_path }}
  {% endif %}
  APPEND root=/dev/nfs rw rootfstype=nfs ip=dhcp nfsroot={{ nfs_server_ip }}:{{ root_filesystem_path }},vers=3 init=/init {{ kernel_cmdline_extras|default('', true) }}

